p{
    font-size: 16px;
    font-weight: medium;
    font-family: "Montserrat", sans-serif;
    color: black;
    margin: 0;
}
.main-form{
    padding: 150px;
    background-image: url('../img/main-contacts-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 558px;
    display: flex; 
    justify-content: space-around;  
}
.main-form label{
    color: white;
}
.main-form h1{
    font-size: 32px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.main-form h2{
    font-size: 16px;
    font-weight: medium;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.main-form input{
    width: 500px;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
}
.contact-info h1{
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #714B67;
}