.order-card{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 1px black solid;
}
footer{
    border: none;
}
main h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.order-card h2{
    width: calc(100%/5);
    font-size: 14px;
    font-weight: medium;
    font-family: "Montserrat", sans-serif;
    color: #017E84;
    text-decoration: underline;
    cursor: pointer;
}
.order-card p{
    width: calc(100%/5);
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: black;
}